
<!-- Generar venta -->
<app-modal [showModal]="showModalVenta">
  <div>
    <div class="bg-primary-800 text-white flex justify-between p-2 rounded-t">
      <h1> Creando venta </h1>
      <button (click)="showModalVenta = false" class="text-white focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>              
      </button>      
    </div>  

    <div class="max-h-96 overflow-y-auto">
      <div class="text-sm p-4">
        <div>
          <div class="md:flex md:items-center md:justify-between">
            <p> <span class="font-semibold"> Código de compra: </span> <span> {{ compraSeleccionada?.nro | codigoCompras }} </span> </p>
            <p class="mt-2 md:mt-0"> <span class="font-semibold"> Fecha: </span> <span> {{ compraSeleccionada?.createdAt | fecha }} </span> </p>
          </div>
          <p class="mt-2"> <span class="font-semibold"> Proveedor: </span> <span> {{ compraSeleccionada?.proveedor.descripcion }} </span> </p>
          <p class="mt-2"> <span class="font-semibold"> Precio total: </span> <span> ${{ compraSeleccionada?.precio_total | moneda }} </span> </p>
        </div>
      </div>

      <hr>

      <div class="text-sm px-4 mt-2 mb-4 md:flex md:items-center">
        <div class="md:w-1/2">
          <p class="font-semibold"> Tipo de venta </p>
          <select [(ngModel)]="venta_tipo" class="p-2 border z-2 border-gray-400 rounded w-full mt-2 focus:outline-none">
            <option value="Propia"> Propia </option>
            <option value="Directa"> Directa </option>
          </select>
        </div>
        <div class="md:w-1/2 md:ml-2 mt-3 md:mt-6 w-full">
          <button (click)="generarVenta()" class="bg-primary-800 text-white p-2 focus:outline-none rounded shadow w-full"> Generar venta </button> 
        </div>
      </div>
    </div>
  </div>
</app-modal>


<!-- Modal: Reportes -->
<app-modal [showModal]="showModalReportesCompra">
  <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
    <h1 class=" text-white px-2 py-1 rounded-t"> Generando reporte </h1>
    <svg (click)="showModalReportesCompra = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </div>
  <div class="p-2 text-sm">
    <div class="flex items-center">
      <div class="text-center w-1/2">
        <p class="font-semibold"> Desde </p>
        <input [(ngModel)]="reportes.fechaDesde" class="p-2 border mt-1 w-full focus:outline-none border-gray-400" type="date">
      </div>
      <div class="text-center w-1/2 ml-2">
        <p class="font-semibold"> Hasta </p>
        <input [(ngModel)]="reportes.fechaHasta" class="p-2 border mt-1 w-full focus:outline-none border-gray-400" type="date">
      </div>
    </div>
    <div class="mt-3">
      <select [(ngModel)]="reportes.activas" class="border focus:outline-none border-gray-400 p-2 w-full" type="text">
        <option value="true"> Solo compras activas </option>
        <option value="false"> Solo compras inactivas </option>
        <option value=""> Todas las compras </option>
      </select>
    </div>
    <button (click)="reporteExcel()" class="border bg-secondaryColor w-full p-2 rounded focus:outline-none text-white mt-3"> Generar reporte </button>   
  </div>
</app-modal>

<!-- Detalles de cheque -->
<app-modal [showModal]="showDetallesCheque">
  <div>
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white px-2 py-1 rounded-t md:text-lg"> Detalles de cheque </h1>
        <svg (click)="cerrarDetallesCheque()" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <div class="px-2 py-2 max-h-96 overflow-y-auto text-sm">
      <div class="md:flex md:items-center">
          <div class="md:w-1/2">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Nro de cheque </p>
              <div class="p-2 mt-1 border rounded bg-gray-50 border-gray-400 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
                {{ chequeSeleccionado?.nro_cheque }}
              </div>
          </div>
          <div class="md:w-1/2 md:ml-4 mt-2 md:mt-0">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Importe </p>
              <div class="p-2 mt-1 bg-gray-50 border rounded border-gray-400 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
                ${{ chequeSeleccionado?.importe | moneda }}
              </div>
          </div>
      </div>
      <div class="mt-4">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Emisor </p>
          <div class="p-2 mt-1 border bg-gray-50 border-gray-400 rounded tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
            {{ chequeSeleccionado?.emisor }}
          </div>
      </div>
      <div class="md:flex md:items-center mt-4">
          <div class="md:w-1/2">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Banco </p>
              <div class="p-2 mt-1 bg-gray-50 border border-gray-400 rounded tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
                {{ chequeSeleccionado?.banco.descripcion }}
              </div>
          </div>
          <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de cobro </p>
              <div class="p-2 mt-1 bg-gray-50 border border-gray-400 rounded tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
                {{ chequeSeleccionado?.fecha_cobro | fecha }}
              </div>
          </div>
      </div>
    </div>
  </div>
</app-modal>

<!-- Listado de productos -->
<app-modal [showModal]="showProductos">
  <div>
    <div class="bg-primary-800 flex items-center justify-between p-2 rounded-t">
      <div class="text-white">
        <h1 class="text-lg"> Listado de productos </h1>
      </div>
      <button (click)="volverEditar()" class="text-white focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <!-- Busqueda de productos -->
    <div *ngIf="!productoSeleccionado" class="p-4">

      <div class="block relative md:w-1/3">
        <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
            <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                <path
                    d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                </path>
            </svg>
        </span>
        <input placeholder="Buscar" (change)="cambiarPaginaProductos(1)" [(ngModel)]="filtro.parametroProductos" class="appearance-none rounded-r rounded-l border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
        />
      </div>

      <div class="mt-4 text-sm">
        <div (click)="seleccionarProductoNuevo(producto)" class="border shadow hover:border-secondaryColor cursor-pointer border-gray-400 p-2 w-full my-2" *ngFor="let producto of todosProductos | paginate: {itemsPerPage: cantidadItemsProductos, currentPage: paginaActualProductos, totalItems: totalItemsProductos, id: 'productos'}">
          <p class="font-semibold"> {{ producto?.descripcion }} </p>
          <p class="text-gray-600 text-xs"> {{ producto?.unidad_medida.descripcion }} </p>
        </div>
      </div>

      <div class="p-2 text-xs md:text-sm mt-4 bg-white flex flex-col xs:flex-row items-center xs:justify-between">
        <pagination-controls id="productos" nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="cambiarPaginaProductos($event)"></pagination-controls>
      </div>

    </div>

    <!-- Producto seleccionado -->
    <div *ngIf="productoSeleccionado" class="p-4">
      <p class="font-semibold"> {{ productoSeleccionado?.descripcion }} </p>
      <p class="text-gray-600 text-xs"> {{ productoSeleccionado?.unidad_medida.descripcion }} </p>

      <div class="flex mt-2">
        <div class="w-1/2">
          <p class="text-sm font-semibold"> Cantidad </p>
          <input (keyup.enter)="agregarProducto()" [(ngModel)]="cantidad" type="number" min="0" class="border w-full mt-1 focus:outline-none text-sm border-gray-400 p-2 rounded" placeholder="Ej. 3">
        </div>
        <div class="ml-2 w-1/2">
          <p class="text-sm font-semibold"> Precio </p>
          <input (keyup.enter)="agregarProducto()" [disabled]="productoCargado || porcentajeAplicado" [(ngModel)]="precio_unitario" type="number" min="0" class="border w-full mt-1 focus:outline-none text-sm border-gray-400 p-2 rounded" placeholder="Ej. 1200">
        </div>
      </div>

      <!-- Variacion porcentual -->

      <div *ngIf="!productoCargado" class="w-full text-sm md:w-1/2 mt-2 flex items-center">
        <div class="mr-1">
          <p class="font-semibold"> Variación porcentual </p>
          <div class="flex items-center w-full">
            <input [disabled]="porcentajeAplicado" (keyup.enter)="aplicarPorcentajes()" [(ngModel)]="porcentajes" type="text" placeholder="Ej. +5 -12 +10" class="w-full focus:outline-none mt-1 border rounded border-gray-400 p-2">
            <button *ngIf="!porcentajeAplicado" title="Agregar variacion porcentual" (click)="aplicarPorcentajes()" class="p-2 border border-gray-400 ml-2 mt-1 focus:outline-none hover:text-green-700 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </button>
            <button *ngIf="porcentajeAplicado" title="Recuperar precio original" (click)="eliminarPorcentaje()" class="p-2 border border-gray-400 ml-2 mt-1 focus:outline-none hover:text-red-700 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="flex items-center text-sm mt-3">
        <button (click)="agregarProducto()" class="border w-1/2 shadow h-max p-2 rounded bg-green-700 text-white focus:outline-none">
          Agregar
        </button>
        <button (click)="productoSeleccionado = null;" class="border w-1/2 shadow p-2 rounded ml-2 bg-red-700 text-white focus:outline-none">
          Cancelar
        </button>
      </div>
    </div>

  </div>
</app-modal>


<!-- Detalles de la compra -->
<app-modal [showModal]="showModalEditarCompra">
  
  <div class="bg-primary-900 text-white flex items-center justify-between p-2 rounded-t">
    <h1> Detalles de la compra </h1>
    <button (click)="showModalEditarCompra = false" class="text-white focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  
  <div class="p-2 max-h-96 overflow-y-auto text-sm">
    <div class="w-full md:flex md:items-center md:justify-between">
      <p> <span class="font-semibold"> Código de compra: </span> {{ compraSeleccionada?.nro | codigoCompras }} </p>
      <p class="mt-2 md:mt-0"> <span class="font-semibold"> Fecha de compra: </span>  {{ compraSeleccionada?.fecha_compra ? (compraSeleccionada?.fecha_compra | fecha) : (compraSeleccionada?.createdAt | fecha) }} </p>
    </div>
    <p class="mt-2"> <span class="font-semibold"> Número de factura: </span> {{ compraSeleccionada?.nro_factura }} </p>
    <p class="mt-2"> <span class="font-semibold"> Precio total: </span>  ${{ compraSeleccionada?.precio_total | moneda }}
      <span class="text-green-700 font-semibold" *ngIf="precioConPorcentaje">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
        ${{ precioConPorcentaje | moneda }}
      </span>
    </p>
    <p class="mt-2"> <span class="font-semibold"> Proveedor: </span> {{ compraSeleccionada?.proveedor.descripcion }} </p>
    <p class="mt-2"> <span class="font-semibold"> Estado: </span> <span [ngClass]="{'bg-green-100 text-green-800 border-green-400':compraSeleccionada?.cancelada, 'bg-red-100 text-red-800 border-red-400' : !compraSeleccionada?.cancelada}" class="p-1 border rounded text-xs font-semibold"> {{ compraSeleccionada?.cancelada ? 'Completada' : 'Sin cancelar'}} </span> </p>
    <div class="mt-2 border-t">
      <div class="mt-2">
        <p class="font-semibold"> Observacion personalizada </p>
        <div class="flex items-center">
          <input [disabled]="!permisos.all" (keyup.enter)="actualizarObservacion()"  [(ngModel)]="observacion" type="text" class="border mt-1 focus:outline-none border-gray-400 p-2 rounded w-full" placeholder="Colocar aquí la observación">
          <button *ngIf="permisos.all" (click)="actualizarObservacion()" title="Actualizar observación" class="border focus:outline-none bg-gray-100 border-gray-400 rounded p-2 ml-1 mt-1 hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>            
          </button>
        </div>
      </div>
      <div class="mt-2">
        <p class="font-semibold p-1 border-t"> Formas de pago </p>
        <div>
          <p class="p-1 flex items-center justify-between" *ngFor="let forma of compraSeleccionada?.formas_pago">
            <span>
              {{ forma.descripcion }}
            </span>
            <span class="font-semibold">
              ${{ forma.monto | moneda }}
            </span>
          </p>
        </div>
        <div>
          <div class="p-1 flex items-center justify-between" *ngFor="let relacion of cheques_compra">
            <div class="flex items-center">
              <span>
                CHEQUE - #{{ relacion.cheque.nro_cheque }}
              </span>
              <button (click)="abrirDetallesCheque(relacion.cheque)" class="hover:text-secondaryColor focus:outline-none cursor-pointer ml-1" title="Detalles de cheque">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>                
              </button>
            </div>
            <span class="font-semibold">
              ${{ relacion.cheque.importe | moneda }}
            </span>
          </div>
        </div>
        <p class="p-1 mt-1 font-semibold border border-gray-400 bg-gray-50 flex items-center justify-between"> <span> Pago total </span> <span> ${{ pagoTotal | moneda }} </span> </p>
        <p *ngIf="!compraSeleccionada?.cancelada" class="p-1 mt-2 font-semibold text-red-700 border border-red-300 bg-red-50 flex items-center justify-between"> <span> Monto sin cancelar </span> <span> ${{ compraSeleccionada?.monto_deuda | moneda }} </span> </p>
        <p *ngIf="pagoTotal > compraSeleccionada?.precio_total" class="p-1 mt-2 font-semibold text-green-700 border border-green-300 bg-green-50 flex items-center justify-between"> <span> A favor </span> <span> ${{ (pagoTotal - compraSeleccionada?.precio_total) | moneda }} </span> </p>
      </div>
    </div>

    <div *ngIf="ordenesPago?.length > 0" class="pt-2 mt-3 border-t">
      <div>
        <h2 class="font-semibold"> Ordenes de pago </h2>
        <div class="flex flex-wrap items-center">
          <p [routerLink]="['/dashboard/pagos', relacion?.orden_pago.nro]" class="p-2 border-l-8 border-gray-400 w-max mr-2 hover:border-secondaryColor hover:text-secondaryColor cursor-pointer border mt-2" *ngFor="let relacion of ordenesPago"> 
            <span>
              {{ relacion?.orden_pago.nro | codigoOrdenesPago }} 
            </span>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="!productoSeleccionado" class="pt-2 mt-3 border-t">
      <h2 class="font-semibold"> Listado de productos </h2>
      <div class="flex items-center">
        <input [(ngModel)]="filtro.parametroProductos" type="text" class="p-2 my-2 border focus:outline-none text-sm border-gray-400 rounded" placeholder="Buscar">
        
        <button title="Imprimir compra" (click)="generarPDF(compraSeleccionada)" class="border bg-gray-100 border-gray-400 hover:text-secondaryColor focus:outline-none ml-2 rounded p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
          </svg>          
        </button>

        <button *ngIf="permisos.all" title="Generar venta" (click)="abrirGenerarVenta(this.compraSeleccionada)" class="border bg-gray-100 border-gray-400 hover:text-secondaryColor focus:outline-none ml-2 rounded p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>           
        </button>
      </div>

      <div>
        <div class="text-sm border border-gray-400 mt-2 p-2" *ngFor="let producto of productos | filtroProductosCompra:filtro.parametroProductos:''">
          <h1 class="font-semibold"> {{ producto.producto.descripcion }} </h1>
          <p class="text-xs text-gray-500"> <span [ngClass]="{'text-green-700 font-semibold' : porcentajeAplicadoTotal}"> ${{ producto.precio_unitario | moneda }} </span> x {{ producto.producto.unidad_medida.descripcion }} </p>
          <p class="text-xs"> Cantidad: {{ producto.cantidad }} </p>
          <p [ngClass]="{'text-green-700' : porcentajeAplicadoTotal}" class="text-xs font-semibold"> Precio: ${{ producto.precio_total | moneda }} </p>
        </div>
      </div>
    </div>
      <div *ngIf="productoSeleccionado" class="pt-2 mt-3 border-t">
        <div class="flex items-center">
          <button title="Regresar" (click)="productoSeleccionado = null" class="border focus:outline-none border-gray-300 bg-gray-100 p-2 rounded hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
            </svg>
          </button>
          <div class="ml-1">
            <p class="font-semibold"> {{ productoSeleccionado?.descripcion }} </p>
            <p class="text-gray-600 text-xs"> {{ productoSeleccionado?.unidad_medida }} </p>
          </div>
        </div>

        <div (keyup.enter)="actualizarProducto()" class="flex mt-2">
          <div class="w-1/2">
            <p class="text-sm font-semibold"> Cantidad </p>
            <input [(ngModel)]="cantidad" type="number" min="0" class="border w-full mt-1 focus:outline-none text-sm border-gray-400 p-2 rounded" placeholder="Ej. 3">
          </div>
          <div class="ml-2 w-1/2">
            <p class="text-sm font-semibold"> Precio </p>
            <input [disabled]="porcentajeAplicado" [(ngModel)]="precio_unitario" type="number" min="0" class="border w-full mt-1 focus:outline-none text-sm border-gray-400 p-2 rounded" placeholder="Ej. 1200">
          </div>
        </div>

        <!-- Variacion porcentual -->
        <div class="w-full text-sm md:w-1/2 mt-2 flex items-center">
          <div class="mr-1">
            <p class="font-semibold"> Variación porcentual </p>
            <div class="flex items-center w-full">
              <input [disabled]="porcentajeAplicado" (keyup.enter)="aplicarPorcentajes()" [(ngModel)]="porcentajes" type="text" placeholder="Ej. +5 -12 +10" class="w-full focus:outline-none mt-1 border rounded border-gray-400 p-2">
              <button *ngIf="!porcentajeAplicado" title="Agregar variacion porcentual" (click)="aplicarPorcentajes()" class="p-2 border border-gray-400 ml-2 mt-1 focus:outline-none hover:text-green-700 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
              </button>
              <button *ngIf="porcentajeAplicado" title="Recuperar precio original" (click)="eliminarPorcentaje()" class="p-2 border border-gray-400 ml-2 mt-1 focus:outline-none hover:text-red-700 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="flex items-center text-sm mt-3">
          <button (click)="actualizarProducto()" class="border w-1/2 shadow h-max p-2 rounded bg-green-700 text-white focus:outline-none">
            Actualizar
          </button>
          <button (click)="eliminarProducto()" class="border w-1/2 shadow p-2 rounded ml-2 bg-red-700 text-white focus:outline-none">
            Eliminar
          </button>
        </div>
      </div>

  </div>

</app-modal>

<!-- Listado de compras -->
<div class="md:max-w-7xl mx-auto">
    <app-tarjeta-lista>
      <div class="container mx-auto">
          <div>
              <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                  <div class="ml-2 text-white">
                      <h2 class="text-xl md:text-2xl leading-tight">
                          Listado de compras
                      </h2>
                      <p> Total de compras: {{ totalItems }} </p>
                  </div>
                  <div class="flex items-center">
                    <button *ngIf="authService.usuario.role === 'ADMIN_ROLE'" title="Generar reporte" (click)="abrirReportes()" class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m.75 12l3 3m0 0l3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                      </svg>                      
                    </button>
                    <button *ngIf="permisos.all" title="Nueva compra" routerLink="/dashboard/nueva-compra" class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>                      
                    </button>
                  </div>
              </div>
              <div class="md:flex md:items-center md:justify-between px-4 py-2">
                  <div class="my-2 flex sm:flex-row flex-col">
                      <div class="flex flex-row mb-1 sm:mb-0">
                          <div class="relative">
                              <select [(ngModel)]="filtro.activo" (change)="cambiarPagina(1)" class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                  <option value='true'> Habilitados </option>
                                  <option value='false'> Deshabilitados </option>
                                  <option value=''> Todos </option>
                              </select>
                              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                  <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                  </svg>
                              </div>
                          </div>
                      </div>
                      <div class="block relative">
                          <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                              <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                  <path
                                      d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                  </path>
                              </svg>
                          </span>
                          <input placeholder="Buscar" (change)="cambiarPagina(1)" [(ngModel)]="filtro.parametro" class="appearance-none rounded-r border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                          />
                      </div>
                      <select (change)="cambiarPagina(1)" class="bg-white text-sm focus:outline-none w-full md:w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="filtro.cancelada">
                        <option value=""> Todos </option>
                        <option value="true"> Completadas </option>
                        <option value="false"> Con deuda </option>
                      </select>
                      <select (change)="cambiarCantidadItems()" class="bg-white w-full text-sm focus:outline-none md:w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                          <option value="10"> 10 elementos </option>
                          <option value="20"> 20 elementos </option>
                          <option value="50"> 50 elementos </option>
                          <option value="100"> 100 elementos </option>
                      </select>
                  </div>
              </div>
              <div class="px-4 py-2 overflow-x-auto">
                  <div class="inline-block max-h-96 overflow-y-auto min-w-full pb-5">
                      <table class="min-w-full leading-normal">
                          <thead>
                                <tr class="border">
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                    Acción
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('nro')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Código
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'nro' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                            <svg *ngIf="ordenar.columna == 'nro' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'nro'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('fecha_compra')" class="cursor-pointer w-max flex items-center focus:outline-none">
                                          <span>
                                            Fecha de compra
                                          </span>
                                          <span class="ml-2 text-gray-600">
                                              <svg *ngIf="ordenar.columna == 'fecha_compra' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                              <svg *ngIf="ordenar.columna == 'fecha_compra' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'fecha_compra'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('createdAt')" class="cursor-pointer w-max flex items-center focus:outline-none">
                                        <span>
                                          Fecha de carga
                                        </span>
                                        <span class="ml-2 text-gray-600">
                                            <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                            <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('proveedor.descripcion')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span>
                                              Proveedor
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'proveedor.descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                              <svg *ngIf="ordenar.columna == 'proveedor.descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'proveedor.descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('precio_total')" class="cursor-pointer w-max flex items-center focus:outline-none">
                                        <span>
                                            Precio total
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                            <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'precio_total'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                              </tr>
                          </thead>
                          <tbody *ngIf="compras">
                              <tr [ngClass]="{'bg-red-50 border-b':!compra.cancelada}" class="animate__animated animate__fadeIn" *ngFor="let compra of compras | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual, totalItems: totalItems}">
                                <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                  <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                    <app-boton-tabla (click)="abrirEditarCompra(compra)"  title="Ver detalles">
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                      </svg>                                      
                                    </app-boton-tabla>
                                    <app-boton-tabla (click)="generarPDF(compra)" class="ml-2" title="Generar PDF">
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
                                      </svg>                                      
                                    </app-boton-tabla>
                                    <app-boton-tabla *ngIf="permisos.all" (click)="abrirGenerarVenta(compra)" class="ml-2" title="Generar venta">
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                      </svg>                                        
                                    </app-boton-tabla>
                                    <app-boton-tabla *ngIf="permisos.all" (click)="actualizarEstado(compra)" class="ml-2" [title]=" compra.activo ? 'Baja de compra' : 'Alta de compra'">
                                      <svg *ngIf="compra.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                      </svg>
                                      <svg *ngIf="!compra.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                      </svg>
                                    </app-boton-tabla>
                                  </span>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ compra.nro | codigoCompras }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ compra.fecha_compra ? (compra.fecha_compra | fecha) : (compra.createdAt | fecha) }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ compra.createdAt | fecha }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                          {{ compra.proveedor.descripcion }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 w-max whitespace-no-wrap">
                                        ${{ compra.precio_total | moneda }}
                                    </p>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="px-5 py-5 text-sm mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
            <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="cambiarPagina($event)"></pagination-controls>
        </div>
      </div>
    </app-tarjeta-lista>
</div>




