<!-- Modal: Crear / Editar gasto -->
<app-modal [showModal]="showModalGasto">
    <div (keyup.enter)="estadoFormulario === 'crear' ? nuevoGasto() : actualizarGasto()">
        <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
            <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando gasto' :
                'Detalles de gasto' }} </h1>
            <svg (click)="showModalGasto = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="cursor-pointer feather feather-x text-white mr-2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
        <div class="p-4 text-sm">

            <div class="md:flex md:items-center">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de gasto </p>
                    <input [disabled]="estadoFormulario === 'editar'" [(ngModel)]="dataGasto.fecha_gasto" type="date"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                </div>
                <div class="md:w-1/2 md:ml-2"></div>
            </div>

            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Caja </p>
                    <select [disabled]="estadoFormulario === 'editar'" [(ngModel)]="dataGasto.caja"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option value=""> Seleccionar caja </option>
                        <option [value]="caja._id" *ngFor="let caja of cajas"> {{ caja.descripcion }} </option>
                    </select>
                </div>
                <div class="md:w-1/2 md:ml-2 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Tipos de gastos </p>
                    <select [disabled]="estadoFormulario === 'editar'" [(ngModel)]="dataGasto.tipo_gasto"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option value=""> Seleccionar tipo </option>
                        <option [value]="tipo._id" *ngFor="let tipo of tiposGastos"> {{ tipo.descripcion }} </option>
                    </select>
                </div>
            </div>

            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Monto </p>
                    <input [disabled]="estadoFormulario === 'editar'" [(ngModel)]="dataGasto.monto" type="number" placeholder="Ej. 3000"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                </div>
                <div class="md:ml-2 md:w-1/2 mt-4 md:mt-0">
                    <p class="font-semibold"> Observación </p>
                    <input [disabled]="estadoFormulario === 'editar'" [(ngModel)]="dataGasto.observacion" type="text" placeholder="Ej. Combustible auto"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                </div>
            </div>

            <div *ngIf="gastoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
                <div class="xl:w-1/2">
                    <p class="font-semibold text-sm"> Fecha de alta </p>
                    <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ gastoSeleccionado.createdAt | fecha }}
                    </div>
                </div>
                <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                    <p class="font-semibold text-sm"> Usuario creador </p>
                    <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ gastoSeleccionado.creatorUser.apellido.toLowerCase() }} {{
                        gastoSeleccionado.creatorUser.nombre.toLowerCase() }}
                    </div>
                </div>
            </div>
            <div *ngIf="gastoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
                <div class="xl:w-1/2">
                    <p class="font-semibold text-sm"> Ultima actualización </p>
                    <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ gastoSeleccionado.updatedAt | fecha }}
                    </div>
                </div>
                <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                    <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                    <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ gastoSeleccionado.updatorUser.apellido.toLowerCase() }} {{
                        gastoSeleccionado.updatorUser.nombre.toLowerCase() }}
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoGasto()"
                    class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
                    Crear gasto </button>
                <!-- <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarGasto()"
                    class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
                    Actualizar gasto </button> -->
            </div>
        </div>
    </div>
</app-modal>

<!-- Listado de gastos -->
<div class="md:max-w-6xl mx-auto">
    <app-tarjeta-lista>
        <div class="container mx-auto">
            <div>
                <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                    <div class="ml-2 text-white">
                        <h2 class="text-2xl leading-tight">
                            Listado de gastos
                        </h2>
                        <p> Total de gastos: {{ totalItems }} </p>
                    </div>
                    <div *ngIf="permisos.all">
                        <button title="Nuevo gasto" (click)="abrirModal('crear')"
                            class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="md:flex md:items-center md:justify-between px-4 py-2">
                    <div class="my-2 flex sm:flex-row flex-col">
                        <div class="flex flex-row mb-1 sm:mb-0">
                            <div class="relative">
                                <select [(ngModel)]="filtro.activo" (change)="cambiarPagina(1)"
                                    class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                    <option value='true'> Habilitados </option>
                                    <option value='false'> Deshabilitados </option>
                                    <option value=''> Todos </option>
                                </select>
                                <div
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                                        <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="block relative">
                            <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                                <svg viewBox="0 0 24 24"
                                    class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                    <path
                                        d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                    </path>
                                </svg>
                            </span>
                            <input [(ngModel)]="filtro.parametro" placeholder="Buscar" (change)="cambiarPagina(1)"
                                class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                        </div>
                        <select (change)="cambiarCantidadItems()"
                            class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded"
                            [(ngModel)]="cantidadItems">
                            <option value="10"> 10 elementos </option>
                            <option value="20"> 20 elementos </option>
                            <option value="50"> 50 elementos </option>
                            <option value="100"> 100 elementos </option>
                        </select>
                    </div>
                </div>
                <div class="px-4 py-2 overflow-x-auto">
                    <div class="inline-block max-h-96 overflow-y-auto min-w-full pb-5">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr class="border">
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('nro')"
                                            class="cursor-pointer flex w-max items-center focus:outline-none">
                                            <span> Nro de gasto </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'nro' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'nro' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'nro'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('fecha_gasto')"
                                            class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                            <span>
                                                Fecha de gasto
                                            </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'fecha_gasto' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'fecha_gasto' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'fecha_gasto'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('tipo_gasto.descripcion')"
                                        class="cursor-pointer w-max flex items-center focus:outline-none">
                                        <span> Tipo de gasto </span>
                                        <span class="ml-2 text-gray-600">
                                            <svg *ngIf="ordenar.columna == 'tipo_gasto.descripcion' && ordenar.direccion == 1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna == 'tipo_gasto.descripcion' && ordenar.direccion == -1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-up">
                                                <polyline points="18 15 12 9 6 15"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna != 'tipo_gasto.descripcion'" width="15" height="15"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-minus">
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                        </span>
                                    </div>
                                    </th>
                                    <th
                                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('observacion')"
                                        class="cursor-pointer w-max flex items-center focus:outline-none">
                                        <span> Observación  </span>
                                        <span class="ml-2 text-gray-600">
                                            <svg *ngIf="ordenar.columna == 'observacion' && ordenar.direccion == 1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna == 'observacion' && ordenar.direccion == -1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-up">
                                                <polyline points="18 15 12 9 6 15"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna != 'observacion'" width="15" height="15"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-minus">
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                        </span>
                                    </div>
                                    </th>
                                    <th
                                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('caja.descripcion')"
                                        class="cursor-pointer flex items-center focus:outline-none">
                                        <span> Caja </span>
                                        <span class="ml-2 text-gray-600">
                                            <svg *ngIf="ordenar.columna == 'caja.descripcion' && ordenar.direccion == 1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna == 'caja.descripcion' && ordenar.direccion == -1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-up">
                                                <polyline points="18 15 12 9 6 15"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna != 'caja.descripcion'" width="15" height="15"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-minus">
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                        </span>
                                    </div>
                                    </th>
                                    <th
                                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('monto')"
                                        class="cursor-pointer flex items-center focus:outline-none">
                                        <span> Monto </span>
                                        <span class="ml-2 text-gray-600">
                                            <svg *ngIf="ordenar.columna == 'monto' && ordenar.direccion == 1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna == 'monto' && ordenar.direccion == -1"
                                                width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-up">
                                                <polyline points="18 15 12 9 6 15"></polyline>
                                            </svg>
                                            <svg *ngIf="ordenar.columna != 'monto'" width="15" height="15"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-minus">
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                        </span>
                                    </div>
                                    </th>
                                    <th *ngIf="permisos.all"
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="gastos">
                                <tr class="animate__animated animate__fadeIn"
                                    *ngFor="let gasto of gastos | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual, totalItems: totalItems}">
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ gasto.numero }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ gasto.fecha_gasto | fecha }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ gasto.tipo_gasto.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ gasto.observacion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ gasto.caja.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            ${{ gasto.monto | moneda }}
                                        </p>
                                    </td>
                                    <td *ngIf="permisos.all"
                                        class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                            <app-boton-tabla (click)="altaBajaGasto(gasto)" [title]="gasto.activo ? 'Baja de gasto' : 'Alta de gasto'">
                                                <svg *ngIf="gasto.activo" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                  </svg>
                                                <svg *ngIf="!gasto.activo" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                                  </svg>                                                 
                                            </app-boton-tabla>
                                            <app-boton-tabla class="ml-2" (click)="abrirModal('editar', gasto)" title="Detalles de gasto">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                  </svg>   
                                            </app-boton-tabla>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="px-5 py-5 text-sm mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
                <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="cambiarPagina($event)"></pagination-controls>
            </div>
        </div>
    </app-tarjeta-lista>
</div>