<div class="mr-auto h-full ml-auto text-center">
    <div class="md:flex justify-center pt-14">
        <div class="gsap-contenido bg-primaryColor p-10 shadow border border-gray-300">
            <!-- <img class="w-2/3 mr-auto ml-auto rounded" src="assets/img/home/home.svg" alt="Home"> -->
            <img src="assets/img/login/Logo.png" class="mx-auto bg-primaryColor md:w-full" alt="Logo de venezia">
            <div class="mx-auto mt-6">
                <p class="text-xl font-semibold text-primary-800"> Sistema de gestión comercial </p>
                <p class="font-semibold text-gray-800"> Versión 0.0.1 </p>
                <p class="text-sm text-gray-800 mt-1"> Desarrollado por Equinoccio Technology </p>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>